asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
fortls
json5
MouseInfo
mysql-connector-python
numpy
opencv-contrib-python
packaging
pillow
pip-system-certs
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyperclip
PyRect
PyScreeze
pytweening
rubicon-objc
setuptools
sqlparse
virtualenv
wrapt